/* Yuki Matsubara_Morning Class Mid Term */
/* Category Body 1 Style*/
.title_section {
  position: relative;
  width: 100%;
  padding-top: 89px;
}
.title_section .titleImage{
  width: 100%;
  height: 300px;
}
.title_section h1 {
  position: absolute;
  top: 55%;
  left: 53%;
  transform: translate(-55%, -53%);
  margin: 0;
  padding: 0;
  font-family: 'Bodoni Moda', serif;
  font-size: 38pt;  
}
.title_section .categoryNavigation  {
  position: absolute;
  top: 80%;
  left: 70%;
  transform: translate(-80%, -70%);
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.title_section .categoryNavigation li {
  display: inline-block;  
  padding: 10px;
  font-size: 14pt;  
}
.title_section .categoryNavigation a {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
